
CSharp - Solutions/.vs/CSharp - Solutions/DesignTimeBuild/.dtbcache.v2
CSharp - Solutions/.vs/CSharp - Solutions/DesignTimeBuild/.dtbcache.v2
CSharp - Solutions/.vs/CSharp - Solutions/v16/.suo
CSharp - Solutions/CSharp - Solutions/bin/Debug/netcoreapp3.1/CSharp - Solutions.dll
*.dll
*.dll
